<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MemberApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AltarFunds"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        tools:targetApi="31">

        <!-- Splash/Login Activity (Launcher) -->
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />
        <!-- Forgot Password Activity -->
        <activity
            android:name=".ui.auth.ForgotPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Main Activity (with bottom navigation) -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Church Activities -->
        <activity
            android:name=".ui.church.ChurchSearchActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <activity
            android:name=".ui.church.ChurchDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <activity
            android:name=".ui.church.ChurchTransferActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Giving Activities -->
        <activity
            android:name=".ui.giving.GivingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <activity
            android:name=".ui.giving.EnhancedGivingActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <activity
            android:name=".ui.giving.DonationDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Announcement Activities -->
        <activity
            android:name=".ui.announcements.AnnouncementDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Devotional Activities -->
        <activity
            android:name=".ui.devotionals.DevotionalDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <!-- Profile Activities -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

        <activity
            android:name=".ui.profile.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AltarFunds" />

    </application>

</manifest>
